/customer/.idea/.gitignore
/config-service/build/resources/main/application.yml
/customer/.gradle/buildOutputCleanup/buildOutputCleanup.lock
/customer/.gradle/buildOutputCleanup/cache.properties
/customer/.gradle/8.8/checksums/checksums.lock
/customer/.idea/compiler.xml
/config-service/build/tmp/compileJava/compileTransaction/stash-dir/ConfigServiceApplication.class.uniqueId0
/customer/.idea/modules/customer.main.iml
/customer/.gradle/8.8/executionHistory/executionHistory.bin
/customer/.gradle/8.8/executionHistory/executionHistory.lock
/customer/.gradle/file-system.probe
/customer/.gradle/8.8/fileHashes/fileHashes.bin
/customer/.gradle/8.8/fileHashes/fileHashes.lock
/customer/.gradle/8.8/dependencies-accessors/gc.properties
/customer/.gradle/8.8/gc.properties
/customer/.gradle/vcs-1/gc.properties
/customer/.idea/gradle.xml
/customer/.idea/jarRepositories.xml
/customer/.gradle/8.8/fileChanges/last-build.bin
/customer/.idea/misc.xml
/customer/.idea/modules.xml
/customer/.gradle/buildOutputCleanup/outputFiles.bin
/customer/.gradle/8.8/fileHashes/resourceHashesCache.bin
/customer/.gradle/8.8/checksums/sha1-checksums.bin
/customer/.idea/vcs.xml
